In [2]:
# !pip install cx_Oracle 단종
# 기존방법
# import cx_Oracle
# dsc = cx_Oracle.makedsn('oracledb',1521,service_name='XEPDB1')
# conn = cx_Oracle.connect(user='pknu',password='1234',dsn=dsn)
# cursor = conn.cursor()

In [2]:
!pip install oracledb # 고급기능은 thick 모드로 변경할 때 기존 cx_Oracle 버전처럼 instante_Client가 필요함

Collecting oracledb
  Downloading oracledb-3.1.0-cp313-cp313-win_amd64.whl.metadata (5.6 kB)
Collecting cryptography>=3.2.1 (from oracledb)
  Downloading cryptography-44.0.2-cp39-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=1.12 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from cryptography>=3.2.1->oracledb) (1.17.1)
Requirement already satisfied: pycparser in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.22)
Downloading oracledb-3.1.0-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 12.9 MB/s eta 0:00:00
Downloading cryptography-44.0.2-cp39-abi3-win_amd64.whl (3.2 MB)
   ---------------------------------------- 0.0/3.2 MB ? eta -:--:--
   ---------------------------------------- 3.2/3.2 MB 19.3 MB/s eta 0:00:00
Installing collected packages: cryptography, oracledb
Successfully installed cryptography-44.0.2 oracledb-3.1.0

In [3]:
import oracledb
    # 데이터베이스 연결시도
try:
    conn = oracledb.connect(
        user='pknu',
        password='1234',
        dsn='oracle/XEPDB1'
    )
    print('Oracle 데이터베이스에 성공적으로 연결 되었습니다.')
    cursor = conn.cursor()
except Exception as e:
    print('Oracle 데이터베이스 연결 실패:', e)

Oracle 데이터베이스 연결 실패: [Errno 11001] getaddrinfo failed

In [8]:
# 테이블생성
query = """
    BEGIN
        EXECUTE IMMEDIATE'
            CREATE TABLE students(
                id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
                name VARCHAR2(50),
                age NUMBER,
                email VARCHAR2(100)
            )';
    EXCEPTION
        WHEN OTHERS THEN
            IF SQLCODE != - 955 THEN
                RAISE;
            END IF;
        END;
"""
cursor.execute(query)
print('테이블 생성 완료')

테이블 생성 완료

In [9]:
# create 한 개의 데이터 삽입
que = 'INSERT INTO students(name,age,email) VALUES (:1, :2, :3)'
values = ('김가나',20,'gana@naver.com')
cursor.execute(que, values)
conn.commit()
print('데이터 삽입 완료되었습니다')

데이터 삽입 완료되었습니다

In [10]:
# create 여러개의 데이터 삽입
que = 'INSERT INTO students(name,age,email) VALUES (:1, :2, :3)'
m_values = [('김나나',21,'nana@naver.com'),('김다나',22,'dana@naver.com'),('김라나',23,'rana@naver.com'),('김마나',24,'mana@naver.com')]
cursor.executemany(que, m_values)
conn.commit()
print('데이터 삽입 완료되었습니다')

데이터 삽입 완료되었습니다

In [17]:
# Read 데이터 조회
que = 'SELECT * FROM students'
cursor.execute(que)
# 모든 데이터 조회
users = cursor.fetchall()
print('학생목록: ')
for u in users:
    print(u)

학생목록:
(2, '김나나', 21, 'nana@naver.com')
(3, '김다나', 22, 'dana@naver.com')
(4, '김라나', 23, 'rana@naver.com')
(5, '김마나', 24, 'mana@naver.com')

In [15]:
# Update 데이터 수정
que = 'UPDATE students SET age = :1 WHERE name = :2'
values = (27,'김가나')
cursor.execute(que,values)
print('데이터가 수정되었습니다')

데이터가 수정되었습니다

In [16]:
# Delete 데이터 수정
que = 'DELETE FROM students WHERE name = :1'
values = ('김가나',)
cursor.execute(que,values)
print('데이터가 삭제되었습니다')

데이터가 삭제되었습니다

In [18]:
conn.commit()